<div>
  <div>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="itinerary-management.component.css" rel="stylesheet">
  </div>

  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/img/carousel-1.png);">
    <div class="container-fluid page-header-inner py-5">
      <div class="container text-center pb-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Make Your Trip</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Trip basic details -->
  <section class="add-package-panel">
    <div class="input-group">
      <label for="current-location">Current Location</label>
      <input type="text" id="current-location" placeholder="Enter your current location" [(ngModel)]="currentLocation">
    </div>
    <div class="input-group">
      <label for="destination">Destination</label>
      <input type="text" id="destination" placeholder="City or Destination" [(ngModel)]="destination">
    </div>
    <div class="input-group">
      <label for="travel-date">Date</label>
      <input type="date" id="travel-date" [(ngModel)]="travelDate">
    </div>
    <div class="input-group">
      <label for="number-of-people">Number of People</label>
      <input type="number" id="number-of-people" min="1" placeholder="Enter number of people"
        [(ngModel)]="numberOfPeople">
    </div>
    <button class="add-btn" (click)="addPackage()">Add Details</button>
  </section>

 
  <!-- Add Package Buttons -->
  <div class="container text-center py-2">
    <h1
      class="display-5 mb-3 animated slideInDown"
      style="
        color: #ffffff;
        background-color: #0f172b;
        border: 4px solid #fea116;
      "
    >
      Add Services To Your Trip
    </h1>
    <div class="button-group">
      <button
        class="add-btn"
        (click)="togglePackageSection('hotels')"
        style="border: 2px solid #0f172b"
      >
        Add Hotels
      </button>
      <button
        class="add-btn"
        (click)="togglePackageSection('trains')"
        style="border: 2px solid #0f172b"
      >
        Add Trains
      </button>
      <button
        class="add-btn"
        (click)="togglePackageSection('flights')"
        style="border: 2px solid #0f172b"
      >
        Add Flights
      </button>
      <button
        class="add-btn"
        (click)="togglePackageSection('restaurants')"
        style="border: 2px solid #0f172b"
      >
        Add Restaurants
      </button>
    </div>
  </div>

  <!-- Add Hotels Section -->
  <div *ngIf="showHotelSection">
    <div
      class="container-fluid page-header mb-5 p-0"
      style="
        background-image: url(assets/img/room-1.jpg);
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="container-fluid page-header-inner py-3"
        style="background: rgba(0, 0, 0, 0.5)"
      >
        <div class="container text-center py-3">
          <h1 class="display-3 text-white mb-3 animated slideInDown">
            Add Hotels
          </h1>
        </div>
      </div>
    </div>

    <section class="search-panel">
      <!-- Hotel Form Inputs -->
      <div class="input-group">
        <label for="hotel-destination">Destination</label>
        <input
          type="text"
          id="hotel-destination"
          placeholder="City or Hotel Name"
          [(ngModel)]="destination"
        />
      </div>
      <div class="input-group">
        <label for="checkin-date">Check-In Date</label>
        <input type="date" id="checkin-date" [(ngModel)]="checkinDate" />
      </div>
      <div class="input-group">
        <label for="checkout-date">Check-Out Date</label>
        <input type="date" id="checkout-date" [(ngModel)]="checkoutDate" />
      </div>
      <div class="input-group">
        <label for="guests">Guests</label>
        <select id="guests" [(ngModel)]="guests">
          <option *ngFor="let option of guestOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="input-group">
        <label for="rooms">Rooms</label>
        <select id="rooms" [(ngModel)]="rooms">
          <option *ngFor="let option of roomOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <button class="search-btn" (click)="searchHotels()">Search Hotels</button>
    </section>

    <section class="hotel-results">
      <!-- Hotel Results -->
      <div *ngFor="let hotel of hotelResults" class="result">
        <img [src]="hotel.image" alt="Hotel Image" class="hotel-image" />
        <div class="hotel-details">
          <h3>{{ hotel.name }}</h3>
          <p>Location: {{ hotel.location }}</p>
          <p>Rating: {{ hotel.rating }}</p>
          <p>Price: ${{ hotel.price }}/night</p>
          <p>Amenities: {{ hotel.amenities }}</p>
        </div>
        <div class="actions">
          <button class="book-btn" (click)="addToPackage(hotel, 'hotel')">
            Add To Package
          </button>
        </div>
      </div>
    </section>
  </div>

  <!-- Add Train Section -->
  <div *ngIf="showTrainSection">
    <div
      class="container-fluid page-header mb-5 p-0"
      style="
        background-image: url(assets/img/train3.jpg);
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="container-fluid page-header-inner py-3"
        style="background: rgba(0, 0, 0, 0.5)"
      >
        <div class="container text-center py-3">
          <h1 class="display-3 text-white mb-3 animated slideInDown">
            Add Trains
          </h1>
        </div>
      </div>
    </div>

    <section class="search-panel">
      <div class="input-group">
        <label for="from">From</label>
        <input type="text" id="from" placeholder="Departure Station" [(ngModel)]="trainFrom">
      </div>
      <div class="input-group">
        <label for="to">To</label>
        <input type="text" id="to" placeholder="Destination Station" [(ngModel)]="trainTo">
      </div>
      <div class="input-group">
        <label for="departure-date">Departure Date</label>
        <input type="date" id="departure-date" [(ngModel)]="trainDepartureDate">
      </div>
      <div class="input-group">
        <label for="return-date">Return Date (Optional)</label>
        <input type="date" id="return-date" [(ngModel)]="trainReturnDate">
      </div>
      <div class="trip-type">
        <label>
            <input type="radio" name="trip" value="one-way" [(ngModel)]="trainTripType"> One-Way
        </label>
        <label>
          <input type="radio" name="trip" value="round-trip" [(ngModel)]="trainTripType"> Round Trip
        </label>
      </div>
      <div class="input-group">
        <label for="passengers">Passengers</label>
        <select id="passengers" [(ngModel)]="trainPassengerCount">
          <option *ngFor="let option of trainPassengerOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="input-group">
        <label for="class">Class</label>
        <select id="class" [(ngModel)]="trainTravelClass">
          <option *ngFor="let option of trainClassOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <button class="search-btn" (click)="searchTrains()">Search Trains</button>
    </section>

    <section class="train-results">
      <!-- Train Results -->
      <div *ngFor="let train of trainResults" class="result">
        <img [src]="train.image" alt="Train Image" class="train-image" />
        <div class="train-details">
          <h3>{{ train.name }}</h3>
          <p>Departure: {{ train.departure }} | Arrival: {{ train.arrival }}</p>
          <p>Duration: {{ train.duration }} | {{ train.stops }}</p>
          <p>Class: {{ train.classes }}</p>
        </div>
        <div class="actions">
          <button class="book-btn" (click)="addToPackage(train, 'train')">
            Add To Package
          </button>
        </div>
      </div>
    </section>

  </div>

  <!-- Add Flights Section -->
  <div *ngIf="showFlightSection">
    <div
      class="container-fluid page-header mb-5 p-0"
      style="
        background-image: url(assets/img/airplane3.jpg);
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="container-fluid page-header-inner py-3"
        style="background: rgba(0, 0, 0, 0.5)"
      >
        <div class="container text-center py-3">
          <h1 class="display-3 text-white mb-3 animated slideInDown">
            Add Flights
          </h1>
        </div>
      </div>
    </div>

    <section class="search-panel">
      <!-- Flight Form Inputs -->
      <div class="input-group">
        <label for="flight-from">From</label>
        <input
          type="text"
          id="flight-from"
          placeholder="Departure City"
          [(ngModel)]="flightFrom"
        />
      </div>
      <div class="input-group">
        <label for="flight-to">To</label>
        <input
          type="text"
          id="flight-to"
          placeholder="Destination City"
          [(ngModel)]="flightTo"
        />
      </div>
      <div class="input-group">
        <label for="flight-date">Departure Date</label>
        <input type="date" id="flight-date" [(ngModel)]="flightDate" />
      </div>
      <div class="input-group" *ngIf="flightTripType !== 'one-way'">
        <label for="return">Return Date</label>
        <input type="date" id="return" [(ngModel)]="returnDate">
      </div>
      <div class="trip-type">
        <label>
          <input
            type="radio"
            name="flight-trip"
            value="one-way"
            [(ngModel)]="flightTripType"
          />
          One-Way
        </label>
        <label>
          <input
            type="radio"
            name="flight-trip"
            value="round-trip"
            [(ngModel)]="flightTripType"
          />
          Round-Trip
        </label>
      </div>
      <button class="search-btn" (click)="searchFlights()">
        Search Flights
      </button>
    </section>

    <section class="flight-results">
      <!-- Flight Results -->
      <div *ngFor="let flight of flightResults" class="result">
        <img [src]="flight.image" alt="Flight Image" class="flight-image" />
        <div class="flight-details">
          <h3>{{ flight.name }}</h3>
          <p>Departure: {{ flight.departure }} | Arrival: {{ flight.arrival }}</p>
          <p>{{ flight.type }} | {{ flight.duration }}</p>
        </div>
        <div class="actions">
          <button class="book-btn" (click)="addToPackage(flight, 'flight')">
            Add To Package
          </button>
        </div>
      </div>
    </section>
  </div>

  <!-- Add Restaurant Section -->
  <div *ngIf="showRestaurantSection">
    <div
      class="container-fluid page-header mb-5 p-0"
      style="
        background-image: url(assets/img/Restaurant3.png);
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="container-fluid page-header-inner py-3"
        style="background: rgba(0, 0, 0, 0.5)"
      >
        <div class="container text-center py-3">
          <h1 class="display-3 text-white mb-3 animated slideInDown">
            Add Restaurants
          </h1>
        </div>
      </div>
    </div>

    <section class="search-panel">
      <div class="input-group">
        <label for="location">Location</label>
        <input type="text" id="location" placeholder="City or Area" [(ngModel)]="restaurantLocation">
      </div>
      <div class="input-group">
        <label for="date">Date</label>
        <input type="date" id="date" [(ngModel)]="restaurantDate">
      </div>
      <div class="input-group">
        <label for="time">Time</label>
        <input type="time" id="time" [(ngModel)]="restaurantTime">
      </div>
      <div class="input-group">
        <label for="guests">Guests</label>
        <select id="guests" [(ngModel)]="restaurantGuestCount">
          <option *ngFor="let option of guestOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="input-group">
        <label for="cuisine">Cuisine</label>
        <select id="cuisine" [(ngModel)]="restaurantCuisine">
          <option *ngFor="let option of cuisineOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <button class="search-btn" (click)="searchRestaurants()">Find Restaurants</button>
    </section>

    <section class="restaurant-results">
      <!-- Restaurant Results -->
      <div *ngFor="let restaurant of restaurantResults" class="result">
        <img
          [src]="restaurant.image"
          alt="Restaurant Image"
          class="restaurant-image"
        />
        <div class="restaurant-details">
          <h3>{{ restaurant.name }}</h3>
          <p>Location: {{ restaurant.location }}</p>
          <p>Cuisine: {{ restaurant.cuisine }} | {{ restaurant.price }} | ⭐️ {{ restaurant.rating }}</p>
          <p>Features: {{ restaurant.features }}</p>
        </div>
        <div class="actions">
          <button
            class="book-btn"
            (click)="addToPackage(restaurant, 'restaurant')"
          >
            Add To Package
          </button>
        </div>
      </div>
    </section>
  </div>

  <section *ngIf="packages.length > 0">
    <div class="container">
      <h1 class="text-center mt-5">Trip Package Management</h1>
      <!-- Trip Packages Table -->
      <section class="package-table">
        <div class="container">
          <h3 class="text-center">Added Packages</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                  <input
                    type="text"
                    [(ngModel)]="packageName"
                    style="width: 100%;"
                    class="form-control input-group"
                    placeholder="Package Name"
                  />
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let package of packages">
                <td>
                  {{ package.name }}
                </td>

                <!-- Delete Button -->
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="removePackage(package)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Create Package Button -->
        <div class="create-trip-btn-container">
          <button class="create-trip-btn" (click)="createPackage()">
            Create Package
          </button>
        </div>
      </section>
    </div>
  </section>

</div>
